@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color-principal: #2dbba3;
    --fondo-oscuro: #1e293b;
    --fondo-card: #4464af;
    --texto-claro: #f8fafc;
    --color-link: #5eead4; 
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #cebeec;
    color: var(--texto-claro); 
    font-size: 1rem; 
}

.container {
    max-width: 56.25rem; 
    margin: auto;
    padding: 1.25rem;    
}

/* HEADER */
header {
    background: var(--fondo-oscuro);
    padding: 1.25rem;    
    border-radius: 0.938rem; 
    text-align: center;
}

nav a {
    color: white;
    margin: 0.625rem;    
    text-decoration: none;
}

/* SECCIONES */
section {
    background: var(--fondo-oscuro);
    margin: 1.25rem 0;
    padding: 1.563rem;   
    border-radius: 0.938rem;
    box-shadow: 0 0.625rem 1.563rem rgba(0,0,0,0.3);
    opacity: 1; 
    transform: translateY(0);
}

section a {
    color: var(--color-link);
    text-decoration: underline;
    font-weight: bold;
}

/* PERFIL */
.perfil-container {
    display: flex;
    align-items: center;
    gap: 1.875rem;       
}

.texto-datos h3 {
    color: var(--color-link);
    font-size: 1.5rem;   
}

/* HABILIDADES */
.barra {
    background: #334155;
    border-radius: 0.625rem; 
    margin-bottom: 0.938rem; 
    height: 0.938rem; 
    width: 100%;
    overflow: hidden;
    display: flex;
}

.nivel {
    height: 100%;
    background: var(--color-principal);
    border-radius: 0.625rem;
}

.html { width: 85% !important; }
.css { width: 75% !important; }
.js { width: 70% !important; }
.django { width: 60% !important; }

/* --- SECCIÓN PROYECTOS --- */
.grid-proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1.25rem;        
    margin-top: 1.25rem;
}

.card {
    background: var(--fondo-card);  
    padding: 1.25rem;    
    border-radius: 0.75rem;  
    box-shadow: 0 0.25rem 0.938rem rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.card h4 {
    margin-top: 0;
    color: #ffffff;
    font-size: 1.125rem; 
}

.card:hover {
    transform: translateY(-0.313rem); 
}

@media (max-width: 48rem) { 
    .grid-proyectos {
        grid-template-columns: 1fr;
    }
}

/* FOTO */
img {
    width: 9.375rem;     
    height: 9.375rem;    
    border-radius: 50%;
    border: 0.188rem solid var(--color-principal); /* 3px */
}

/* --- MODO OSCURO --- */
.dark-mode {
    background-color: #f4f4f4; 
    color: #1e293b; 
}

.dark-mode section {
    background-color: #ffffff; 
    color: #1e293b;
    box-shadow: 0 0.313rem 0.938rem rgba(0,0,0,0.1);
}

.dark-mode .barra {
    background: #e2e8f0; 
}